output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.netlify
.vercel

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

logs/